section#level-up h4 {
	clear: none;
	float: left;
	height: 20px;
	margin-top: 0px;
	margin-bottom: 4px;
	font-weight: normal;
	margin-right: 12px;
}

section#level-up h3 {
	clear: none;
	float: left;
	margin-top: 0px;
	margin-bottom: 4px;
	margin-right: 12px;
}	